.site-header {
   margin: 0;
   padding: 5px;
   background-image: linear-gradient(to right, #e6ddc4, #d4ac2b, #533535);
   color: white;
   text-align: center;
}

.site-footer {
   background: black;
   color: white;
   padding: 10px 0;
}

.NavLink {
   text-decoration: none;
}

.header {
   text-align: center;
   margin-bottom: 40px;
}

.row-content {
   padding: 2% 9%;
   margin-top: 0;
}

Nav {
   font-size: 22px;
}

.carousel-item {
   text-align: center;
}

.carousel-caption {
   color: white;
   background-color: rgba(0, 0, 0, 0.5);
}

p {
   font-size: 18px;
}
.footer-menu,
.footer-text {
   font-size: 17px;
   color: #8d8daa;
   text-decoration: none;
}

.footer-menu:hover {
   color: white;
   cursor: pointer;
}

.social-media-icons-white a {
   color: #8d8daa;
   font-size: 2rem;
}
